@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

.Navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #333333;
    height: 6vw;
    padding-right: 5vw;
}

.Navbar-options {
    display: flex;
    font-family: 'Abril Fatface', cursive;
    font-size: 20pt;
    text-decoration: none;
    color: white;
    margin: 0 1.5vw;
}

.Navbar-options:hover {
    color: #888;
}

@media (max-width: 1000px) {
    .Navbar-options {
        font-size: 2.5vw;
    }
}

.body {
    margin: 0;
    height: 100%;
    display: flex;
}

.picture-Container {
    margin: 3%;
    padding: 2%;
    border: 3px;
    border-color: #333333;
    display: flex;
    width: 40%;
}

.picture {
    width: 300px;
    height: 400px;
    margin: 2vw;
}

.empty-top {
    height: 10vw;
}

.text-container {
    margin: 3%;
    padding: 2%;
    border: 3px;
    width: 900px;
        /* border-style: solid;
        border-color: #999; */
}

.text-Name {
    font-family: 'Rancho', cursive;
    font-size: 67pt;
    margin: 8px;
}

.text-Hashtags {
    font-family: 'Rancho', cursive;
    font-size: 24pt;
    color: #777;
    margin: 40px 0 0 10px;
}

.text-Description {
    font-family: 'Abril Fatface', cursive;
    font-size: 16pt;
    margin: 80px 0 0 10px;
}

@media (max-width: 1620px) {
    .picture {
        width: 20vw;
        height: 27vw;
    }
    .text-Name {
        font-size: 5.5vw;
    }
    .text-Hashtags {
        font-size: 2vw;
        margin: 3vw 0 0 10px;
    }
    .text-Description {
        font-size: 1.4vw;
        margin: 5vw 0 0 10px;
    }
}