@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');

.Navbar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background: #333333;
	height: 105px;
	padding-right: 5vw;
}

.Navbar-options {
	display: flex;
	font-family: 'Abril Fatface', cursive;
	font-size: 20pt;
	text-decoration: none;
	color: white;
	margin: 0 30px;
}

.Navbar-options:hover {
	color: #888;
}

.body {
	margin: 0;
	height: 100%;
    display: flex;
}
